@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-white: white;
	--clr-dark: black;
	--clr-primary: #8517dc;
	--fs-main: 17px;
	--fs-title: 60px;
	--fs-heading: 30px;
	--ff-lobster: lobster;
	--ff-poppins: poppins;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Lobster", cursive;
	font-family: "Poppins", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
